---
---

@import "{{ site.theme }}";


.wrapper {
  width: 1024px;
  margin: 0 auto;
}

.profileImg {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.iconImg {
  height: 32px;
  width: auto;
  padding: 6px 6px 6px 6px;
}

.headerP{
   margin: 0
}

p {
  margin: 0 0 20px;
}

img:not(.profileImg){
    max-width: 100%;
}

section {
  width: auto;
  max-width: 620px;
  text-align: justify;
}

#social-media {
  text-align: center;
}

.csl-right-inline {
  margin: inherit;
  display: inline;
}

.csl-left-margin{
  margin: inherit;
  display: inline;
}
